/* RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
    GRID
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  padding-left: 1%;
  padding-right: 5%;
  border-bottom: 2px solid #22acd4;
}

.refresh {
  height: 3em;
  line-height: 3em;
  border-bottom: 1px solid #d2dede;
}

.tweet {
  padding: .5em;
  margin: .5em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
}

.timeline {
  display: none;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 10%; left: 0; bottom: 0; right: 0;
  border: 2px solid #bfbfbf;
  border-radius: 5px;
}

/*
    TYPOGRAPHY & BACKGROUND
*/

html {
  background: #f7f7f7;
  background-image: url('assets/crossword/crossword.png');
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

p {
  margin-bottom: .25em;
}

.name {
  font-size: 4em;
  color: #b8401d;
  padding-right: .25em;
}

.timestamp {
  font-size: .75em;
}

.username {
  color: #006b4e;
}

/*
    REFRESH BUTTON
*/

.refresh {
  text-align: center;
}

.refresh:hover {
  background: #d2dede;
  cursor: pointer;

}

.refresh a {
  text-decoration: none;
  color: #705e54;
}

/*
    USER TIMELINES
*/

.username:hover {
  cursor: pointer;
  text-decoration: underline;
}
